* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    min-height: 100vh;
    color: #fff;
    background: url(/images/SpaceBackground.jpg) center/cover no-repeat;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 100vw;
    max-width: 100%;
    height: 10vh;
    box-shadow: 0 4px 8px #faebd760;
    background-color: #e38f2148;
}
header h1{
    text-align: center;
}
.hero{
    background-color: #e38f2120;
    width:100%;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    line-height: 2.6rem;
    border-bottom: 2px solid #faebd760;
}
section h2{
    text-align: center;
    font-size: 1.3rem;
}
section p{
    font-size: 1.14rem;
}
footer {
    height: 5vh;
    background-color: #e38f2148;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
